*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* colors */
/* .black{
    color:black;
} */

/* HEADER CLASSES */

.wrapper{
    width: 1170px;
    margin: 0 20%;
}

header{
    height: 100px;
    background: #2d2f21;
    width: 100%;
    z-index: 12;
    position: fixed;
}

li{
    float: right;
    line-height: 100px;
    list-style-type: none;
}

li a{
    text-decoration: none;
    letter-spacing: 4px;
    font-family: sans-serif;
    margin: 0 10px;
    color: #fff;
    text-transform: uppercase;
}


/* INTRO CLASSES */

.intro{
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 2em;
}

.row{
    display: flex;
    flex-direction: row;
}

/* OPENING CLASSES */

/* .opening{
    position: absolute;
} */

.left-align{
    text-align: justify;
    text-align-last: left;
}

/* SLIDESHOW CLASSES */
.slideshow{
    width: 700px;
    height: 400px;
    overflow: hidden;
    
}

.middle{
    left: 50%;
    transform: translate(60%, 20%);

}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: .4s;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
    
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    height: 100%;
}

.slide img{
    width: 100%;
    height: 100%;

}

#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}
